:root{
    --primary-dark:#244068;
    --primary-green:#e7906e;
}

body{
   background-color: var(--primary-dark);
   color: var(--primary-green);
}

h1{
    text-align: center;
}

.container{
    width:50%;
    margin: auto;
}

input,
label{
    display: block;
}

input{
    margin-bottom: 0.5rem;
    width: 100%;
}

#check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
}
#output-box{
    color: black;
}
.sec_link{
    float: left;
    margin-left: 110px;
    margin-top: 20px;
    border-radius: 100%;
    overflow: hidden;
}
.link{
    float: left;
    margin-left: 450px;
    margin-top: 20px;
}
.third_link{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
   
}